<%- include('../partials/head', { title: 'Home - Cart', styles: ['productCart'] }) %>
    <%- include('../partials/header')%>
    <main>
        
        <div class="content">
            <div class="container-empty-cart">
                <h1 class="empty-cart-title">Your cart is empty</h2>
                <h2>Please select a product</h2>
                <a class="empty-cart-link" href="/products?category=guitars">Guitars</a>
                <a class="empty-cart-link" href="/products?category=drum">Drums</a>
                <a class="empty-cart-link" href="/products?category=bass">Bass</a>
                
            </div>
          </div>
        
        
    </main>
    <%- include('../partials/footer')%>
    <script src="/js/menu.js"></script>
</body>
</html>