<%- include('./partials/head', { title: 'Home - Drums', styles: ['productDetail'] }) %>
    <%- include('./partials/header')%>
    <main>
        <h1>Drums</h1>
        <div class="container">
            <div class="card-container">
                <img class="img-card" src="/img/bateria-yamaha.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Yamaha</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-sonor.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Sonor</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-dw.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">DW</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-tama.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Tama</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-pearl.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Pearl</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-gretsch.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Gretsch</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-mapex.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Mapex</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-ludwig.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Ludwig</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
        </div>
    </main>
    <%- include('./partials/footer')%>
    <script src="/js/menu.js"></script>
</b