<%- include('./partials/head', { title: 'Home - Guitars', styles: ['productDetail'] }) %>
    <%- include('./partials/header')%>
    <main>
        <h1>Guitars</h1>
        <div class="container">
            <div class="card-container">
                <img class="img-card" src="/img/gibson-les-paul.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Gibson Les Paul</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-stratocaster.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Stratocaster</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-telecaster.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Telecaster</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/gibson-sg.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Gibson SG</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/gibson-335.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Gibson ES335</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-jaguar.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Jaguar</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/prs.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">PRS</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-mustang.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Mustang</h3>
                
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
        </div>
    </main>
    <%- include('./partials/footer')%>
    <script src="/js/menu.js"></script>
</body>
</html>