<%- include('./partials/head', { title: 'Home', styles: ['home'] }) %>

    <%- include('./partials/header')%>
    <main>
        <div class="slider-box">
            <ul>
                <li>
                    <img src="/img/logo-st.png" alt="">
                </li>
                <li>
                    <img src="/img/img-home.jpg" alt="">
                </li>
                <li>
                    <img src="/img/img-home-bass.jpg" alt="">
                </li>
                <li>
                    <img src="/img/img-home-drums.jpg" alt="">
                </li>    
                

            </ul>
        </div>
    </main>
    <%- include('./partials/footer')%>
    <script src="/js/menu.js"></script>
</body>

</html>