<%- include('./partials/head', { title: 'Home - Products', styles: ['productDetail'] }) %>
    <%- include('./partials/header')%>
    <main>
        <h1>Products</h1>
        <div class="container">
            
            <div class="card-container">
                <img class="img-card" src="/img/gibson-les-paul.png" alt="">

                    <h2 class="card-price">$1.000.000</h2>
                    <h3 class="card-name">Gibson Les Paul</h3>

                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
                        dignissimos sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.
                    </p>
                    <button class="card-button">Add to cart</button>
                

            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-stratocaster.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Stratocaster</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-telecaster.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Telecaster</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/gibson-sg.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Gibson SG</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/gibson-335.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Gibson ES335</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-jaguar.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Jaguar</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/prs.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">PRS</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-mustang.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Mustang</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-jazz-bass.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Jazz Bass</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-standard-precision-bass.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Precision Bass Standard</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-performer-precision-bass.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Performer Precision Bass</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bajo-ibanez-gsr200.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Ibanez GSR200</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bajo-hofner-hct-500-5.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Hofner HCT500/5</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bajo-hofner.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Hofner</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/fender-telecaster-bass.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Fender Telecaster Bass</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/gibson-eb-bass.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Gibson EB500</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-yamaha.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Yamaha</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-sonor.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Sonor</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-dw.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">DW</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-tama.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Tama</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-pearl.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Pearl</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-gretsch.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Gretsch</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-mapex.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Mapex</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
            <div class="card-container">
                <img class="img-card" src="/img/bateria-ludwig.png" alt="">
                <h2 class="card-price">$1.000.000</h2>
                <h3 class="card-name">Ludwig</h3>

                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dignissimos
                    sit nesciunt nemo adipisci vitae, repudiandae in blanditiis reiciendis doloribus.</p>
                <button class="card-button">Add to cart</button>
            </div>
        </div>
    </main>
    <%- include('./partials/footer')%>
    <script src="/js/menu.js"></script>
</body>

</html>