<%- include('./partials/head', { title: 'Home - Cart', styles: ['productCart'] }) %>
    <%- include('./partials/header')%>
    <main>
        <!-- <div class="container-cart">
            <img class="img-cart" src="../img/fender-stratocaster.png" alt="">
            <div class="cart-container">
                
                <h2 class="cart-name">Fender Stratocaster</h2>
                <h2 class="cart-price">$1.000.000</h2>
                <button class="cart-button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                  </svg></button>
            </div>
        </div> -->
        <div class="content">
            <!-- Aquí va el contenido principal de la página -->
            <div class="container-empty-cart">
                <h1 class="empty-cart-title">Your cart is empty</h2>
                <h2>Please select a product</h2>
                <a class="empty-cart-link" href="/products/guitarsDetail">Guitarras</a>
                <a class="empty-cart-link" href="/products/drumsDetail">Baterías</a>
                <a class="empty-cart-link" href="/products/bassDetail">Bajos</a>
                
            </div>
          </div>
        
        
    </main>
    <%- include('./partials/footer')%>
    <script src="/js/menu.js"></script>
</body>
</html>