<%- include('./partials/head', { title: 'Home - Register', styles: ['register'] }) %>
    
    <main>

        <div class="register-container">
            <img class="img-register" src="/img/img-register.jpg" alt="">
            <div class="container-form">
                <a href="/"><img class="logo-register" src="/img/logo-register.jpeg" alt="log"></a>
                <ul class="register-list">
                    <li class="nav-item"><button class="register-button"><a href="#">Signup</a></button></li>
                    <li class="nav-item"><button class="register-button"><a href="/user/login">Login</a></button></li>
                </ul>

                <form action="" class="register-form">
                    <label for="">First name</label>
                    <input class="register-input" type="text" placeholder="Enter first name">
                    <label for="">Last name</label>
                    <input class="register-input" type="text" placeholder="Enter last name">
                    <label for="">Email adress</label>
                    <input class="register-input" type="email" placeholder="Enter email">
                    <label for="">Password</label>
                    <input class="register-input" type="password" placeholder="Enter password">
                    <button class="create-button">Create account</button>

                </form>
            </div>

        </div>

    </main>
</body>

</html>